@page
@model DetailsModel
@{
    ViewData["Title"] = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>
<a asp-area="Admin" asp-page="/SubCategory/Create" asp-route-id="@Model.Category.Id" class="btn btn-success">
    <i class="glyphicon glyphicon-plus"></i>Create new SubCategory
</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Ads</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Category.SubCategories)
    </tbody>
</table>